@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<section class="zxing-container" id="zxingContent">
    @if (string.IsNullOrWhiteSpace(Title))
    {
        <h1 class="zxing-title">@Title</h1>
    }

    @if (ShowStart || ShowReset || ShowToggleTorch)
    {
        <div>
            @if (ShowStart)
            {
                <button class="zxing-button" id="zxingStartButton" @onclick="StartDecoding">Start</button>
            }
            @if (ShowReset)
            {
                <button class="zxing-button" id="zxingResetButton" @onclick="StopDecoding">Reset</button>
            }
            @if (ShowToggleTorch)
            {
                <button class="zxing-button" id="zxingTorchButton" @onclick="ToggleTorch">Toggle Torch</button>
            }
        </div>
    }

    <div id="zxingVideoContainer">
        <video id="zxingVideo" width="@VideoWidth" height="@VideoHeight"></video>
    </div>

    @if (ShowVideoDeviceList)
    {
        @if (_videoInputDevices == null)
        {
            <p>looking for devices</p>
        }
        else
        {
            <div id="sourceSelectPanel">
                <label for="zxingSourceSelect">Change video source:</label>
                <select id="zxingSourceSelect" class="zxing-video-input" @onchange="ChangeVideoInputSource">
                    @foreach (var videoInputDevice in _videoInputDevices)
                    {
                        <option value="@videoInputDevice.DeviceId">@videoInputDevice.Label</option>
                    }
                </select>
            </div>

        }
    }

    @if (ShowResult)
    {
        <div id="zxingResultContainer">
            <label>Result:</label>
            <pre><code id="zxingResult">@BarcodeText</code></pre>
        </div>
    }
    
</section>
