@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using BlazorBarcodeScanner.ZXing.JS;
<section class="zxing-container" id="zxingContent">
    <h1 class="zxing-title">@Title</h1>
    <div>
        @if (ShowStart)
        {
            <button class="zxing-button" id="zxingStartButton" @onclick="StartDecoding">Start</button>
        }
        @if (ShowReset)
        {
            <button class="zxing-button" id="zxingResetButton" @onclick="StopDecoding">Reset</button>
        }
        @if (ShowToggleTorch)
        {
            <button class="zxing-button" id="zxingTorchButton" @onclick="ToggleTorch">Toggle Torch</button>
        }
    </div>

    <div id="zxingVideoContainer">
        <video id="zxingVideo" width="@VideoWidth" height="@VideoHeigth"></video>
    </div>
    @if (ShowVideoDeviceList) {


        @if (videoInputDevices == null)
        {
            <p>looking for devices</p>
        }
        else
        {
            <div id="sourceSelectPanel">
                <label for="zxingSourceSelect">Change video source:</label>
                <select id="zxingSourceSelect" class="zxing-video-input" @onchange="ChangeVideoInputSource">
                    @foreach (var videoInputDevice in videoInputDevices)
                    {
                        <option value="@videoInputDevice.DeviceId">@videoInputDevice.Label</option>
                    }
                </select>
            </div>

        }
    }

<div id="zxingResultContainer">
    <label>Result:</label>
    <pre><code id="zxingResult">@BarcodeText</code></pre>
</div>
    
</section>
@code{
    [Parameter]
    public string Title { get; set; } = "Scan Barcode from Camera";

    [Parameter]
    public bool StartCameraAutomatically { get; set; } = false;

    [Parameter]
    public bool ShowStart { get; set; } = true;

    [Parameter]
    public bool ShowReset { get; set; } = true;

    [Parameter]
    public bool ShowToggleTorch { get; set; } = true;

    [Parameter]
    public bool ShowVideoDeviceList { get; set; } = true;

    [Parameter]
    public int VideoWidth { get; set; } = 300;

    [Parameter]
    public int VideoHeigth { get; set; } = 200;

    [Parameter]
    public int? StreamHeight { get; set; } = null;

    [Parameter]
    public int? StreamWidth { get; set; } = null;

    public string BarcodeText { get; set; }

    private List<VideoInputDevice> videoInputDevices;

    private BarcodeReaderJsBackend _backend;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _backend = new BarcodeReaderJsBackend(JSRuntime);
        await GetVideoInputDevicesAsync();

        BarcodeReaderJsBackend.BarcodeReceived += ReceivedBarcodeText;
        if (StartCameraAutomatically && videoInputDevices.Count > 0)
        {
            _backend.SetVideoInputDevice(videoInputDevices[0].DeviceId);
            StartDecoding();
        }
    }

    private async Task GetVideoInputDevicesAsync()
    {
        videoInputDevices = await _backend.GetVideoInputDevices("get");
    }
    private void StartDecoding()
    {
        _backend.StartDecoding("zxingVideo");
    }
    private void StopDecoding()
    {
        BarcodeReceivedEventArgs resetBarcodeArgs = new BarcodeReceivedEventArgs();
        resetBarcodeArgs.BarcodeText = "";
        resetBarcodeArgs.TimeReceived = new DateTime();
        ReceivedBarcodeText(resetBarcodeArgs);
        _backend.StopDecoding();
    }
    private void ToggleTorch()
    {
        _backend.ToggleTorch();
    }
    private async void ReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        this.BarcodeText = args.BarcodeText;
        StateHasChanged();
    }
    private void ChangeVideoInputSource(ChangeEventArgs args) {
        _backend.SetVideoInputDevice(args.Value.ToString());
        StopDecoding();
        StartDecoding();
    }
}